<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ru.diplomnaya.skilllcinema"
    xmlns:tools="http://schemas.android.com/tools">
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_MEDIA_LOCATION" />
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" android:maxSdkVersion="28"
        tools:ignore="ScopedStorage" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"
        android:maxSdkVersion="32" />

    <application
        android:name=".App"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Skillcinema"
        tools:targetApi="3">
        <activity
            android:name=".presentation.intro.AuthenticationActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:exported="true">
<!--            <intent-filter>-->
<!--                <action android:name="android.intent.action.MAIN" />-->

<!--                <category android:name="android.intent.category.LAUNCHER" />-->
<!--            </intent-filter>-->
        </activity>
        <activity
            android:name=".presentation.intro.IntroActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:exported="true">
        <intent-filter>
            <action android:name="android.intent.action.MAIN" />

            <category android:name="android.intent.category.LAUNCHER" />
        </intent-filter>
        </activity>
        <activity
            android:name=".presentation.filmography.ActorFilmographyActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:exported="true"/>
        <activity
            android:name=".presentation.gallery.GalleryActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:exported="true"/>
             <activity
            android:name=".presentation.intro.LoadingActivity"
                 android:launchMode="singleTask"
                 android:screenOrientation="portrait"
            android:exported="true"/>
        <activity
            android:name=".presentation.main.MainActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:exported="true"/>
        <activity
            android:name=".presentation.detail.MyCollectionActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:exported="true"/>
        <activity
            android:name=".presentation.serial.SerialActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:exported="true"/>
        <activity
            android:name=".presentation.detail.GlobalActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:exported="true"/>
<!--        <activity android:name="ru.diplomnaya.skilllcinema.FragmentTestActivity"/>-->
        <receiver android:name=".presentation.intro.IntroActivity$Companion$WifiReceiver"
            android:enabled="true"
            android:exported="true">
        </receiver>
    </application>
</manifest>